# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node and output directories
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Intellij
*.iml
.idea


# Ignore sensitive data files
packages/pocketsmith-api/responses/
private/
obsidian-ex.d.ts

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js
data.json
cache.json

# Exclude sourcemaps
*.map

# obsidian
data.json





