.fire-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 16px;
}

.fire-content {
  padding-bottom: 48px;
}

.fire-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fire-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fire-section-title {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
}

.fire-section-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 28px;
}

.fire-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-popup {
  display: flex;
  flex-direction: column;
  padding: var(--size-4-4);
  border-width: var(--border-width);
  border-style: solid;
  border-radius: var(--radius-m);
  border-color: var(--background-modifier-border);
  width: max-content;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
  background-color: var(--background-primary-alt);
}
