.fire-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 16px;
}

.fire-content {
  padding-bottom: 48px;
}

.fire-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fire-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fire-section-title {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
}

.fire-section-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 28px;
}

.fire-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
