{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cx"],
  "importOrder": ["^react$|^react-dom|^@storybook", "<THIRD_PARTY_MODULES>", "^@fire", "^[.]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
