@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* tailwind-slate-300 */
  color: #cbd5e1;

  /* tailwind-slate-900 */
  background-color: #020617;
}

@layer base {
  input[type='number'].appearance-none::-webkit-inner-spin-button,
  input[type='number'].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }

  input[type='number'].appearance-none {
    appearance: textfield !important;
    -moz-appearance: textfield !important;
  }
}
